Repository theforeman/puppet-foreman_proxy, pull requests merged in 2021-02, with the labels that each got.

#643 Fixes #31642 - Add container gateway support
  manifests/plugin/container_gateway.pp
  spec/classes/foreman_proxy__plugin__container_gateway_spec.rb
  templates/plugin/container_gateway.yml.erb
Labels: Enhancement, Needs testing

#644 Release 17.1.0
  CHANGELOG.md
  metadata.json
Labels: Needs testing, skip-changelog

#645 Fixes #31430 - use correct key and server for ansible-runner deb
  .fixtures.yml
  examples/ansible.pp
  manifests/plugin/ansible/runner.pp
  spec/acceptance/ansible_spec.rb
  spec/classes/foreman_proxy__plugin__ansible_spec.rb
  spec/setup_acceptance_node.pp
Labels: Bug, Needs testing

#648 Release 15.3.1
  CHANGELOG.md
  metadata.json
Labels: Needs testing, skip-changelog

#650 Release 16.0.1
  CHANGELOG.md
  metadata.json
Labels: Needs testing, Not yet reviewed, skip-changelog
